$bg-color: red;
$primary1: rgb(236, 232, 232);
$accent1: rgb(245, 243, 243);
$accent2: rgb(246, 244, 244);
$primary2: rgb(251, 251, 251);
$primary-text: rgb(32, 32, 32);
$link-font:rgb(226, 107, 133);
$test-color: rgb(221, 210, 210);
@import url('https://fonts.google.com/css?family=Space+Mono');
@import url('https://fonts.google.com/css?family=Roboto');
$space-mono: 'Space Mono', monospace;
$roboto: 'Roboto', sans-serif;
$noto-sans-jp: 'Noto Sans JP', sans-serif;

//MAIN STUFF
body{
  margin: 2rem 0;
  background: $primary1;
  display: flex;
  justify-content: center;
}
header{
  background: $primary1;
}
a{color: unset;} a:hover{color: $link-font;}
nav{
  .active-page{
    color: $link-font;
    font-weight: 800;
  }
}
p{font-family: $roboto; font-size: 14pt; margin: unset;}
main{margin: 4rem 0;}
footer{
  p{
    font-size: 12pt;
    font-family: $space-mono;
  }
}
ul,li { list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0; 
}

//CONTAINERS
.main-container{
  font-family: $roboto;
  background: $primary1;
  width: 100%;
}
.section-container{
  padding: .7rem 0;
  
  
}
.project-card{
  border: .5px solid rgba(56, 56, 56, 0.219) ;
  border-radius: 4px;
  padding: 1rem;
}




//TEXT :: FONTS AND STUFF
.title-this{font-family: $space-mono; font-weight: 600;}
.top-font{
  font-family: $space-mono;
  font-size: 13pt;
  font-weight: 500;
  line-height: unset;
}
.grayed-text{
  opacity: 1;
}
.hover-text:hover{
  color: $primary-text;
  opacity: 1;
  transition: all 0.2s linear 0s;
}
.more-info{
  padding-left: .4rem;
  margin-left: .4rem;
  border-left: 3.5px solid $link-font;
  font-family: $noto-sans-jp;
  font-size: 13px;
}

/* DESKTOP FORMAT */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .main-container{
    max-width: 640px;
  }

  //CONTAINERS
  .section-container{
    margin: 1rem;
    padding: 1rem;
    border-top-left-radius: 25px;
    background: $accent1;
  }
  .project-card{
    transition: all 0.3s linear 0s;
  }
  .project-card:hover{
    width: 100%;
    max-width: 640px;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }

  //TEXT :: FONTS AND STUFF
  .grayed-text{
    opacity: .4;
  }
  
}