@import url("https://fonts.google.com/css?family=Space+Mono");
@import url("https://fonts.google.com/css?family=Roboto");
body {
  margin: 2rem 0;
  background: #ece8e8;
  display: flex;
  justify-content: center; }

header {
  background: #ece8e8; }

a {
  color: unset; }

a:hover {
  color: #e26b85; }

nav .active-page {
  color: #e26b85;
  font-weight: 800; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  margin: unset; }

main {
  margin: 4rem 0; }

footer p {
  font-size: 12pt;
  font-family: "Space Mono", monospace; }

ul, li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0; }

.main-container {
  font-family: "Roboto", sans-serif;
  background: #ece8e8;
  width: 100%; }

.section-container {
  padding: .7rem 0; }

.project-card {
  border: 0.5px solid rgba(56, 56, 56, 0.219);
  border-radius: 4px;
  padding: 1rem;
  transition: all 0.3s linear 0s; }

.title-this {
  font-family: "Space Mono", monospace;
  font-weight: 600; }

.top-font {
  font-family: "Space Mono", monospace;
  font-size: 13pt;
  font-weight: 500;
  line-height: unset;
  margin: 0; }

.grayed-text {
  opacity: 1; }

.hover-text:hover {
  color: #202020;
  opacity: 1;
  transition: all 0.2s linear 0s; }

.more-info {
  padding-left: .8rem;
  border-left: 5px solid #e26b85;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 13px; }

/* DESKTOP FORMAT */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .main-container {
    max-width: 640px; }
  .section-container {
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;
    background: #f5f3f3; }
  .project-card:hover {
    width: 100%;
    max-width: 640px;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s; }
  .grayed-text {
    opacity: .4; } }
